.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 15px 20px;
  display: flex;
  align-items: flex-start;
}

.navbar-title {
  position: absolute;
  left: 0;
  top: 38.14%;
  text-align: center;
  width: 100%;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.05em;

  color: #0e73b9;
}
